<header>
  <div class="pure-g page-content">
    <div class="pure-u-1-1">
      <div class="home-menu pure-menu pure-menu-horizontal">
        <div id="mobile-nav-link" class="hidden-lg">
          <a id="mobile-nav-open" href="#nav">Menu</a>
        </div>
        <a class="pure-menu-heading hidden-sm" href="/"><img class="big-logo" src="/images/gilmation-logo-no-phrase.png" alt="Gilmation" title="Gilmation"></a>
        <a class="pure-menu-heading visible-sm" href="/"><img src="/images/gilmation_button.png" alt="Gilmation" title="Gilmation"></a>
        <ul class="pure-menu-list visible-lg">
          {% for item in site.data.menu %}
          <li class="pure-menu-item{% if page.url contains item.url %} current{% endif %}"><a href="{{item.url}}" class="pure-menu-link">{{item.desc}}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</header>