<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
  <div id="holder">
    {% include header.html %}
    <div id="container">
      {{ content }}
    </div>
    <footer>
      {% include footer.html %}
    </footer>
  </div>
  <div id="back-to-top"><a href="#" onclick="return false;"><span class="icon bl-arrow-top"></span>Back to top</a></div>
  <script src="/assets/js/jquery-1.11.0.min.js"></script>
  <script src="/assets/js/modernizr.custom.75803.js"></script>
  <script src="/assets/js/matchMedia.js"></script>
  <script src="/assets/js/matchMedia.addListener.js"></script>
  <script src="/assets/js/enquire.min.v2.1.0.js"></script>
  <script src="/assets/js/jquery.horizontal-slide-mobile-menu.v0.0.2.min.js"></script>
  <script src="/assets/js/script.js"></script>
  {% include analytics.html %}
  </body>
</html>
